body {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  padding: 15px;
  width: 200px;
  background-color: #e53e3e;
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}

ul li {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 15px;
}

ul li img {
  width: 30px;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}
