.achtergrond {
    background: url('dating.jpeg');
    background-size: cover;
}
header {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.2);
    
}
